APP_NAME=HotDock
APP_ENV=development
DEBUG=true
SECRET_KEY=change-me
SITE_URL=https://hotdock.jp
GUNICORN_WORKERS=2
DOMAIN=hotdock.jp
CERTBOT_EMAIL=
NGINX_CERT_WATCH_INTERVAL=15
BLOG_ADMIN_USERNAME=yoshiaki0223
BLOG_ADMIN_PASSWORD_HASH=9047061c525874f0e3158f1648cba7ed:439b1780e7ca54bdfc6a3deb487ea4690c955dd9b880e93b70d94381c13c7e62

POSTGRES_USER=appuser
POSTGRES_PASSWORD=password
POSTGRES_DB=appdb
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_CONNECT_RETRIES=30
DATABASE_CONNECT_RETRY_INTERVAL=1.0

# DATABASE_URL=postgresql+psycopg2://appuser:password@db:5432/appdb
