{% extends "hotdock/layouts/app_base.html" %}

{% block content %}
<section class="app-grid two-up">
    {% for section in settings_sections %}
    <article class="panel">
        <div class="form-stack">
            {% for field in section.fields %}
            <div class="form-row">
                <label>{{ field.label }}</label>
                <input type="text" value="{{ field.value }}">
            </div>
            {% endfor %}
        </div>
    </article>
    {% endfor %}
</section>
{% endblock %}
